#board {
    position: relative;
}

.playbutton  {
    display:inline-block;
    float:left;
}

.clearbutton {
    display:inline-block;
    float:left;
}

.cell {
    width: 10px;
    height: 10px;
    position: absolute;
    box-sizing: border-box;
    border: 1px #000 solid;
}

.cell.black, .cell.white {
    border: 1px solid #000;
}

.cell.alive {
    background-color: #444;
}

.cell.dead {
    background-color: #eee;
}